# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.lib/

# macOS
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log

# Python packages
*.egg
*.egg-info/
dist/
build/

# Site packages folder if you have one
lib/
